@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto";
  color: #2c3e50;
  background-color: #faf9f6; }

hr {
  border: 1px solid black;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px; }

img {
  height: 200px; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center; }

button {
  margin: 20px; }

#bitcoin,
#bitcoin-fetch {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#usd,
#euro,
#usd-fetch,
#euro-fetch {
  color: green;
  font-weight: bold;
  font-size: 22px; }

#randomUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  padding: 20px;
  border-radius: 5%;
  text-align: center; }

#user-content {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px; }

#user-info {
  padding: 5px; }

#user-img {
  border-radius: 50%; }

#user-button {
  display: flex; }
  #user-button button {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: whitesmoke;
    font-size: 18px;
    border: none;
    border-radius: 15px; }
  #user-button button:hover {
    opacity: 0.9; }

#randomCat {
  display: flex;
  flex-direction: column; }
  #randomCat img {
    width: 200px; }

#ronSwanson {
  text-align: center; }

#ronsButtons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  #ronsButtons button {
    width: 140px;
    padding: 10px;
    border-radius: 40px;
    background-color: #ffffff;
    color: teal;
    border: solid 2px teal;
    font-weight: bold; }
  #ronsButtons button:hover {
    background: teal;
    color: #ffffff; }
